<div class="wrapper-normal">
  <div class="header-home">
    <div>
      <img class="bio-head" alt="TeamID Logo" src="{{ site.url }}/images/clan-logo.png" />
    </div>
    <div class="social-links">
      <a class="social" href="https://instagram.com/" target="_blank">
        <i class="fab fa-instagram"> </i>
      </a>
      <a class="social" href="https://x.com/" target="_blank">
        <i class="fab fa-twitter"> </i>
      </a>
      <a class="social" href="https://dev.to/" target="_blank">
        <i class="fab fa-dev"> </i>
      </a>
    </div>
    <p class="description">Pride + Discipline + Triumph</p>
  </div>
</div>